<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.artion.androiddemos"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name=".Demos">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".acts.SessionAct" />
        <activity android:name=".acts.PopupWindowDemoActivity" />
        <activity android:name=".acts.SensorTestActivity" />
        <activity android:name=".acts.ViewPopupWindowDemo" />
        <activity android:name=".acts.CroutonDemo" />
        <activity android:name=".acts.TopPopupDemo" />
        <activity android:name=".acts.LoadingDialogDemo" />
        <activity android:name=".acts.MainDemos" />
        <activity android:name=".acts.AnimationDemo" />
        <activity android:name=".acts.StartDoDemo" />
        <activity android:name=".acts.MyDrawViewAct" />
        <activity
            android:name=".acts.EditTextDemo"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".acts.ImageCompressDemo" />
        <activity android:name=".acts.MoveViewDemo" />
        <activity android:name=".acts.ImagePressedDemo" />
        <activity android:name=".acts.ExtraViewDemo" />
        <activity android:name=".acts.NettyDemo" />
        <activity android:name=".acts.NoticationDemo" />
        <activity android:name=".acts.LuckySettingDemo" />
        <activity android:name=".acts.TabMenuDemo" />
        <activity android:name=".acts.AnimatorDemo" />
        <activity android:name=".acts.SurfaceViewDemo" />
        <activity android:name=".acts.RoundDemo" />
        <activity
            android:name=".acts.InputBoxDemo"
            android:windowSoftInputMode="adjustNothing" />
        <activity android:name=".acts.OnTouchDemo" />
        <activity
            android:name=".acts.ActJumpA"
            android:label="ActJumpA" />
        <activity
            android:name=".acts.ActJumpB"
            android:label="ActJumpB" />
        <activity
            android:name=".acts.CanlanderDemo"
            android:label="CanlanderDemo" />
        <activity
            android:name=".acts.ActInterfaceDemo"
            android:label="ActInterfaceDemo" />
        <activity
            android:name=".acts.ClipboardDemo"
            android:label="ClipboardDemo" />
        <activity
            android:name=".acts.AudioManagerDemo"
            android:label="ActInterfaceDemo" />
        <activity
            android:name=".acts.ImageLockDemo"
            android:label="ImageLockDemo" />
        <activity
            android:name=".acts.MPushVCodeDemo"
            android:label="MPushVCodeDemo" />
        <activity
            android:name=".acts.ShareIntentDemo"
            android:label="ShareIntentDemo">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".acts.TextSelectedDemo"
            android:label="TextSelectedDemo" />
        <activity
            android:name=".acts.RecyclerViewDemo"
            android:label="RecyclerViewDemo" />
        <activity
            android:name=".acts.MainActivity"
            android:label="@string/app_name" />
        <activity android:name=".acts.ListDemo" />
        <activity android:name=".acts.SingleImageViewDemo">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="android_demos_single"
                    android:scheme="artion" />
            </intent-filter>
        </activity>
        <activity android:name=".acts.MultiImageViewDemo" />
        <activity android:name=".acts.ListDownDemo" />
        <activity android:name=".highlight.HighLightTextViewDemo" />
        <activity android:name=".acts.ImageViewSrcDemo" />
        <activity android:name=".acts.TranslateDemo" />
        <activity android:name=".acts.TextViewLongDemo" />
        <activity android:name=".acts.TextLongDemo" />
        <activity android:name=".acts.GridViewMenuDemo" />
        <activity android:name=".acts.OnGestureDemo" />
        <activity android:name=".acts.ActConstraintsDemo" />

        <service
            android:name=".service.LuckyService"
            android:label="@string/lucky_service_label"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/lucky_service_config" />
        </service>

        <receiver android:name=".service.SysBroadcastRecevier">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <action android:name="com.artion.androiddemos.service.ACTION.TEST" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <service
            android:name=".service.NotificationMonitorService"
            android:label="NotificationMonitor"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
        <service
            android:name=".service.FloatViewService"
            android:enabled="true"
            android:exported="false" />

        <activity android:name=".acts.LocalReceiverDemo"></activity>
        <activity android:name=".acts.RecyclerGridDemo"></activity>
    </application>

</manifest>